@font-face {
  font-family: 'Insanibu';
  src: url('/path-to/Insanibu.woff2') format('woff2'),
       url('/path-to/Insanibu.woff') format('woff'),
       url('/path-to/Insanibu.ttf')  format('truetype');
}

body {
  font-family: 'Insanibu', sans-serif;
}
