@font-face {
  font-family: 'rajdhani-semibold';
  src: url('/path-to/rajdhani-semibold.woff2') format('woff2'),
       url('/path-to/rajdhani-semibold.woff') format('woff'),
       url('/path-to/rajdhani-semibold.ttf')  format('truetype');
}

body {
  font-family: 'rajdhani-semibold', sans-serif;
}
